# 문제 1

첫번째 입력값(a > 0)이 두번째 입력값(b > 0)의 배수인지 확인하는 함수 check_multiple을 구현하라.

- check_multiple(6, 3) -> True  
- check_multiple(6, 4) -> False

In [ ]:
def check_multiple(a, b):
  pass

In [ ]:
print(check_multiple(6, 3))
print(check_multiple(6, 4))

# 문제 2

주민등록번호(number)를 입력받아 성별을 반환하는 함수 get_gender를 구현하라.

- get_gender('970101-1234567') -> 'male'  
- get_gender('980202-2345678') -> 'female'

In [ ]:
def get_gender(number):
  pass

In [ ]:
print(get_gender('970101-1234567'))
print(get_gender('980202-2345678'))

# 문제 3

주민등록번호(number)를 입력받아 나이를 반환하는 함수 get_age를 구현하라.

참고: int 함수를 이용하여 문자열을 정수형으로 변환할 수 있다. (e.g., int('32') -> 32)

- get_age('970101-1234567') -> 26  
- get_age('980202-2345678') -> 25

In [ ]:
def get_age(number):
  pass

In [ ]:
print(get_age('970101-1234567'))
print(get_age('980202-2345678'))

# 문제 4

입력값(a < 100)보다 작은 자연수 중 숫자 3을 포함하는 수의 리스트를 반환하는 함수 get_num_including_three를 구현하라.

참고: append 함수를 이용하여 리스트에 요소를 추가할 수 있다. (e.g., [].append(2))

- get_num_including_three(10) -> [3]  
- get_num_including_three(35) -> [3, 13, 23, 30, 31, 32, 33, 34]

In [ ]:
def get_num_including_three(a):
  pass

In [ ]:
print(get_num_including_three(10))
print(get_num_including_three(35))

# 문제 5

입력 리스트(numbers)의 평균을 계산하는 함수 calculate_mean을 구현하라.

참고: sum 함수와 len 함수를 이용할 수 있다.

- calculate_mean([1, 2, 3, 4, 5]) -> 3   
- calculate_mean([10, 32, 51]) -> 31

In [ ]:
def calculate_mean(numbers):
  pass

In [ ]:
print(calculate_mean([1, 2, 3, 4, 5]))
print(calculate_mean([10, 32, 51]))

# 문제 6

무작위로 로또 번호 리스트를 생성하는 함수 generate_numbers를 구현하라.

참고: random.randint 함수를 이용하여 난수를 생성할 수 있다. (e.g., random.randint(1, 10))

- generate_numbers() -> [44, 18, 4, 11, 17, 2] 
- generate_numbers() -> [14, 2, 13, 17, 39, 31]

In [ ]:
import random

def generate_numbers():
  pass

In [ ]:
print(generate_numbers())
print(generate_numbers())

# 문제 7

입력 문자열(string)의 단어 빈도수 딕셔너리를 반환하는 함수 get_word_frequency를 구현하라.

참고: split 함수를 이용하여 문자열을 분할할 수 있다. (e.g., 'a b c'.split() -> [a, b, c])

- get_word_frequency('a a b b b c c c c c') -> {'a': 2, 'b': 3, 'c': 5}
- get_word_frequency('apple banana cherry apple banana apple') -> {'apple': 3, 'banana': 2, 'cherry': 1}

In [ ]:
def get_word_frequency(string):
  pass

In [ ]:
print(get_word_frequency('a a b b b c c c c c'))
print(get_word_frequency('apple banana cherry apple banana apple'))

# 문제 8

입력 문자열(string)에서 알파벳 t를 포함하는 단어들 중 가장 긴 단어의 길이를 반환하는 함수 get_max_len_including_t를 구현하라.

- get_max_len_including_t('check multiple') -> 8
- get_max_len_including_t('get max len including t') -> 3

In [ ]:
def get_max_len_including_t(string):
  pass

In [ ]:
print(get_max_len_including_t('check multiple'))
print(get_max_len_including_t('get max len including t'))