<a href="https://colab.research.google.com/github/leeminq1/python_ai_colab/blob/main/4_sklearn_kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Competition 1. Diabetes Prediction

건강과 관련된 상태 데이터를 이용하여 당뇨병 여부를 예측하는 문제이다.

### INPUT  
- **HighBP**: 0 = no high BP 1 = high BP
- **HighChol**: 0 = no high cholesterol 1 = high cholesterol
- **CholCheck**: 0 = no cholesterol check in 5 years 1 = yes cholesterol check in 5 years
- **BMI**: Body Mass Index
- **Smoker**: Have you smoked at least 100 cigarettes in your entire life? [Note: 5 packs = 100 cigarettes] 0 = no 1 = yes
- **Stroke**: (Ever told) you had a stroke. 0 = no 1 = yes
- **HeartDiseaseorAttack**: coronary heart disease (CHD) or myocardial infarction (MI) 0 = no 1 = yes
- **PhysActivity**: physical activity in past 30 days - not including job 0 = no 1 = yes
- **Fruits**: Consume Fruit 1 or more times per day 0 = no 1 = yes
- **Veggies**: Consume Vegetables 1 or more times per day 0 = no 1 = yes
- **HvyAlcoholConsump** (adult men >=14 drinks per week and adult women>=7 drinks per week) 0 = no 1 = yes
- **AnyHealthcare**: Have any kind of health care coverage, including health insurance, prepaid plans such as HMO, etc. 0 = no 1 = yes
- **NoDocbcCost**: Was there a time in the past 12 months when you needed to see a doctor but could not because of cost? 0 = no 1 = yes
- **GenHlth**: Would you say that in general your health is: scale 1-5 1 = excellent 2 = very good 3 = good 4 = fair 5 = poor
- **MentHlth**: days of poor mental health scale 1-30 days
- **PhysHlth**: physical illness or injury days in past 30 days scale 1-30
- **DiffWalk**: Do you have serious difficulty walking or climbing stairs? 0 = no 1 = yes
- **Sex**: 0 = female 1 = male
- **Age**: 13-level age category (_AGEG5YR see codebook) 1 = 18-24 9 = 60-64 13 = 80 or older
- **Education**: Education level (EDUCA see codebook) scale 1-6 1 = Never attended school or only kindergarten 2 = elementary etc.
- **Income**: Income scale (INCOME2 see codebook) scale 1-8 1 = less than $10,000 5 = less than $35,000 8 = $75,000 or more

### OUTPUT  
- **Diabetes_binary**: 0 = no diabetes 1 = prediabetes 2 = diabetes

In [174]:
import pandas as pd

df = pd.read_csv('diabetes_train.csv', index_col=0)
df.drop(["Education" ,"GenHlth"], axis=1, inplace=True)

df

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,MentHlth,PhysHlth,DiffWalk,Sex,Age,Income
id,,,,,,,,,,,,,,,,,,,,
806,0.0,1.0,1.0,1.0,26.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,30.0,1.0,1.0,9.0,7.0
63025,1.0,1.0,0.0,1.0,48.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,20.0,1.0,1.0,11.0,5.0
5820,0.0,0.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,7.0
47297,1.0,0.0,1.0,1.0,35.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,9.0,3.0
1276,0.0,1.0,0.0,1.0,24.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,15.0,0.0,0.0,0.0,8.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21243,0.0,0.0,0.0,1.0,27.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,8.0
45891,1.0,1.0,1.0,1.0,33.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,1.0,5.0,7.0
42613,1.0,0.0,1.0,1.0,37.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,8.0,0.0,0.0,11.0,2.0
43567,1.0,1.0,1.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,12.0,6.0
68268,1.0,1.0,0.0,1.0,29.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,7.0,1.0

In [175]:
df.isnull().sum()

Diabetes_binary         0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Income                  0
dtype: int64

In [176]:
X_train=df.iloc[:,1:]
y_train=df.iloc[:,0]

print(X_train.shape)
print(y_train.shape)

(56553, 19)
(56553,)

In [177]:
X_test_real = pd.read_csv('diabetes_X_test.csv', index_col=0)
X_test_real.drop(["Education","GenHlth" ], axis=1, inplace=True)
X_test_real

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,MentHlth,PhysHlth,DiffWalk,Sex,Age,Income
id,,,,,,,,,,,,,,,,,,,
34746,1.0,0.0,1.0,25.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,14.0,0.0,0.0,1.0,8.0,5.0
11085,0.0,0.0,1.0,20.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,0.0,0.0,10.0,4.0
51382,0.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,8.0
53894,1.0,1.0,1.0,27.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,13.0,1.0
31333,1.0,1.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,11.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58953,0.0,0.0,1.0,33.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,30.0,3.0,1.0,0.0,11.0,6.0
5823,0.0,0.0,1.0,35.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,11.0,5.0
57923,1.0,1.0,1.0,30.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,30.0,30.0,1.0,0.0,10.0,2.0
15560,1.0,0.0,1.0,32.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,5.0,5.0
49908,1.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,16.0,0.0,0.0,5.0,8.0

In [178]:
# 평가지표 출력하는 함수 설정
def get_clf_eval(y_test, y_pred):
    confusion = confusion_matrix(y_test, y_pred)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    F1 = f1_score(y_test, y_pred)
    AUC = roc_auc_score(y_test, y_pred)
    
    print('오차행렬:\n', confusion)
    print('\n정확도: {:.4f}'.format(accuracy))
    print('정밀도: {:.4f}'.format(precision))
    print('재현율: {:.4f}'.format(recall))
    print('F1: {:.4f}'.format(F1))
    print('AUC: {:.4f}'.format(AUC))
    

# 평가지표를 조사하기 위한 새로운 함수 생성
def get_eval_by_threshold(y_test, pred_proba_c1, thresholds):
    #thresholds list 객체 내의 값을 iteration 하면서 평가 수행
    for custom_threshold in thresholds:
        binarizer = Binarizer(threshold=custom_threshold).fit(pred_proba_c1)
        custom_predict = binarizer.transform(pred_proba_c1)
        print('\n임계값: ', custom_threshold)
        get_clf_eval(y_test, custom_predict)

In [179]:
# split 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import f1_score, confusion_matrix, precision_recall_curve, roc_curve
from sklearn.preprocessing import StandardScaler, Binarizer
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

# 모델 변경 및 grid search 적용
# penalty = ['l2'] # 페널티(penalty) 하이퍼파라미터 값의 후보를 만듭니다.
# C = np.logspace(0, 4, 10) # 규제 하이퍼파라미터 값의 후보 범위를 만듭니다.
# hyperparameters = dict(C=C, penalty=penalty) # 하이퍼파라미터 후보 딕셔너리를 만듭니다.

# lr= LogisticRegression(random_state=0,max_iter=1000)
# lr_clt = GridSearchCV(lr, hyperparameters, cv = 5,verbose=0)
params = { 'max_depth' : [6, 8, 10, 12],
           'min_samples_split' : [16, 24]
            }

de_clt = DecisionTreeClassifier()
lr_clt = GridSearchCV(de_clt, param_grid=params, cv = 5,scoring='accuracy',verbose=1)

# StandardScaler 클래스를 상용하여 데이터 세트에 스케일링 적용
# 기존에 가지고 있는 테스트 set
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_train)

# test samle이 없으므로 임의로 나눔
# 기존 X_sclaed 값을 --> X_train / X_text로 나눔
X_scaled_train, X_scaled_test, y_sacled_train, y_scaled_test = train_test_split(X_scaled, y_train, test_size = 0.1)

# 학습해서 결과 계속 확인할 것 
lr_clt.fit(X_scaled_train, y_sacled_train)
pred = lr_clt.predict(X_scaled_test)
get_clf_eval(y_scaled_test, pred)

print("---------------")

# 임계값 변경
# thresholds = [0.3, 0.33, 0.36, 0.39, 0.42, 0.45, 0.48, 0.50]
# pred_proba = lr_clt.predict_proba(X_scaled_test)
# get_eval_by_threshold(y_scaled_test, pred_proba[:, 1].reshape(-1, 1), thresholds)

Fitting 5 folds for each of 8 candidates, totalling 40 fits
오차행렬:
 [[1953  947]
 [ 605 2151]]

정확도: 0.7256
정밀도: 0.6943
재현율: 0.7805
F1: 0.7349
AUC: 0.7270
---------------

In [83]:
# 나중에 결과 예측할때 사용 
X_scaled_real=scaler.transform(X_test_real)
y_test_pred=lr_clt.predict(X_scaled_real)

In [84]:
import numpy as np

y_test_pred = pd.DataFrame(y_test_pred.reshape(-1, 1), index=X_test_real.index, columns=['Diabetes_binary'])

y_test_pred

       Diabetes_binary
id
34746              1.0
11085              0.0
51382              0.0
53894              1.0
31333              1.0
...                ...
58953              0.0
5823               0.0
57923              1.0
15560              0.0
49908              0.0

[14139 rows x 1 columns]

In [85]:
y_test_pred.astype('int32').to_csv('diabetes_answer.csv')

# Competition 2. Wine Quality Prediction

와인의 화학적 수치 데이터를 이용하여 와인의 질을 예측하는 문제이다.

### INPUT
- **fixed acidity**: Fixed acidity value
- **volatile acidity**: Volatile acidity value
- **citric acid**: Citric acid value
- **residual sugar**: Residual sugar value
- **chlorides**: Chlorides value
- **free sulfur dioxide**: Free sulfur dioxide value
- **total sulfur dioxide**: Total sulfur dioxide value
- **density**: Density value
- **pH**: pH value
- **sulphates**: Sulphates value
- **alcohol**: Alcohol value

### OUTPUT
- **quality**: Target quality

In [128]:
import pandas as pd

df = pd.read_csv('wine_train.csv', index_col=0)
df.drop(["sulphates" ], axis=1, inplace=True)

df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,alcohol,quality
Id,,,,,,,,,,,
1473,6.1,0.60,0.08,1.80,0.071,14.0,45.0,0.99336,3.38,11.0,5
250,10.8,0.32,0.44,1.60,0.063,16.0,37.0,0.99850,3.22,10.0,6
279,8.9,0.40,0.32,5.60,0.087,10.0,47.0,0.99910,3.38,10.5,7
750,8.3,0.65,0.10,2.90,0.089,17.0,40.0,0.99803,3.29,9.5,5
115,9.4,0.40,0.31,2.20,0.090,13.0,62.0,0.99660,3.07,10.5,6
...,...,...,...,...,...,...,...,...,...,...,...
1452,6.6,0.58,0.02,2.00,0.062,37.0,53.0,0.99374,3.35,11.6,7
1083,8.7,0.42,0.45,2.40,0.072,32.0,59.0,0.99617,3.33,12.0,6
1181,9.8,0.39,0.43,1.65,0.068,5.0,11.0,0.99478,3.19,11.4,5
779,7.1,0.52,0.03,2.60,0.076,21.0,92.0,0.99745,3.50,9.8,5
974,8.8,0.33,0.41,5.90,0.073,7.0,13.0,0.99658,3.30,12.1,7

In [129]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
alcohol                 0
quality                 0
dtype: int64

In [134]:
X_train=df.iloc[:,:10]
y_train=df.iloc[:,10]

print(X_train.shape)
print(y_train.shape)

(914, 10)
(914,)

In [135]:
X_test_real = pd.read_csv('wine_X_test.csv', index_col=0)
X_test_real.drop(["sulphates" ], axis=1, inplace=True)

X_test_real

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,alcohol
Id,,,,,,,,,,
1333,9.1,0.775,0.22,2.2,0.079,12.0,48.0,0.99760,3.18,9.6
199,6.9,1.090,0.06,2.1,0.061,12.0,31.0,0.99480,3.51,11.4
1319,9.1,0.760,0.68,1.7,0.414,18.0,64.0,0.99652,2.90,9.1
886,9.0,0.800,0.12,2.4,0.083,8.0,28.0,0.99836,3.33,10.4
176,7.3,0.380,0.21,2.0,0.080,7.0,35.0,0.99610,3.33,9.5
...,...,...,...,...,...,...,...,...,...,...
920,9.6,0.410,0.37,2.3,0.091,10.0,23.0,0.99786,3.24,10.5
173,7.4,0.620,0.05,1.9,0.068,24.0,42.0,0.99610,3.42,11.5
1016,8.9,0.380,0.40,2.2,0.068,12.0,28.0,0.99486,3.27,12.6
761,9.3,0.655,0.26,2.0,0.096,5.0,35.0,0.99738,3.25,9.6
791,8.8,0.640,0.17,2.9,0.084,25.0,130.0,0.99818,3.23,9.6

In [136]:
# 평가지표 출력하는 함수 설정
def get_clf_eval(y_test, y_pred):
    confusion = confusion_matrix(y_test, y_pred)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    F1 = f1_score(y_test, y_pred)
    AUC = roc_auc_score(y_test, y_pred)
    
    print('오차행렬:\n', confusion)
    print('\n정확도: {:.4f}'.format(accuracy))
    print('정밀도: {:.4f}'.format(precision))
    print('재현율: {:.4f}'.format(recall))
    print('F1: {:.4f}'.format(F1))
    print('AUC: {:.4f}'.format(AUC))
    

# 평가지표를 조사하기 위한 새로운 함수 생성
def get_eval_by_threshold(y_test, pred_proba_c1, thresholds):
    #thresholds list 객체 내의 값을 iteration 하면서 평가 수행
    for custom_threshold in thresholds:
        binarizer = Binarizer(threshold=custom_threshold).fit(pred_proba_c1)
        custom_predict = binarizer.transform(pred_proba_c1)
        print('\n임계값: ', custom_threshold)
        get_clf_eval(y_test, custom_predict)

In [145]:
# split 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import f1_score, confusion_matrix, precision_recall_curve, roc_curve
from sklearn.preprocessing import StandardScaler, Binarizer
from sklearn.ensemble import RandomForestClassifier

# 모델 변경 및 grid search 적용
# penalty = ['l1', 'l2'] # 페널티(penalty) 하이퍼파라미터 값의 후보를 만듭니다.
# C = np.logspace(0, 4, 10) # 규제 하이퍼파라미터 값의 후보 범위를 만듭니다.
# hyperparameters = dict(C=C, penalty=penalty) # 하이퍼파라미터 후보 딕셔너리를 만듭니다.

# lr= LogisticRegression(random_state=0,max_iter=1000)
# lr_clt = GridSearchCV(lr, hyperparameters, cv = 5,verbose=0)
# lr_clt = RandomForestClassifier(n_estimators=5)

params = { 'n_estimators' : [10, 100],
           'max_depth' : [6, 8, 10, 12],
            }

# # RandomForestClassifier 객체 생성 후 GridSearchCV 수행
rf_clf = RandomForestClassifier()
lr_clt = GridSearchCV(rf_clf, param_grid = params, cv = 3)

# StandardScaler 클래스를 상용하여 데이터 세트에 스케일링 적용
# 기존에 가지고 있는 테스트 set
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_train)

# test samle이 없으므로 임의로 나눔
# 기존 X_sclaed 값을 --> X_train / X_text로 나눔
X_scaled_train, X_scaled_test, y_sacled_train, y_scaled_test = train_test_split(X_scaled, y_train, test_size = 0.2)

# 학습해서 결과 계속 확인할 것 
lr_clt.fit(X_scaled_train, y_sacled_train)
pred = lr_clt.predict(X_scaled_test)
accuracy = accuracy_score(y_scaled_test, pred)
print('랜덤 포레스트 정확도: {:.4f}'.format(accuracy))

print("---------------")

# # 임계값 변경
# thresholds = [0.3, 0.33, 0.36, 0.39, 0.42, 0.45, 0.48, 0.50]
# pred_proba = lr_clt.predict_proba(X_scaled_test)
# get_eval_by_threshold(y_scaled_test, pred_proba[:, 1].reshape(-1, 1), thresholds)

랜덤 포레스트 정확도: 0.6230
---------------

In [146]:
# 나중에 결과 예측할때 사용 
X_scaled_real=scaler.transform(X_test_real)
y_test_pred=lr_clt.predict(X_scaled_real)

In [147]:
import numpy as np


y_test_pred = pd.DataFrame(y_test_pred.reshape(-1, 1), index=X_test_real.index, columns=['quality'])

y_test_pred

      quality
Id
1333        5
199         6
1319        5
886         6
176         6
...       ...
920         6
173         6
1016        7
761         5
791         5

[229 rows x 1 columns]

In [149]:
y_test_pred.astype('int32').to_csv('wine_y_test_pred.csv')